<% layout("/layouts/boilerplate") %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h3>
                    <%= listing.title %>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class=" col-lg-6 offset-lg-3">
                <div class="card listing-card">
                    <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="image">
                    <div class="card-body">
                        <p class="card-text"><i>Owned by <%= listing.owner.username %></i></p>
                        <p class="card-text">
                            <%= listing.description %>
                        </p>
                        <p class="card-text">&#8377 <%= listing.price.toLocaleString("en-IN") %>
                        </p>
                        <p class="card-text">
                            <%= listing.location %>
                        </p>
                        <p class="card-text">
                            <%= listing.country %>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <% if (user && user._id.equals(listing.owner._id)) { %>
            <div class="row mt-3">
                <div class="col-lg-6 offset-lg-3">
                    <div class="buttons">
                        <%# Authorization for delete and edit button %>
                            <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary">Edit</a>
                            <form action="/listings/<%= listing._id %>?_method=DELETE" method="post" class="ms-2">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                    </div>
                </div>
            </div>
            <% } %>

                <div class="row mt-3">
                    <div class="col-lg-8 offset-lg-2">
                        <% if (user) { %>
                            <hr>
                            <h4>Leave a Review</h4>
                            <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate
                                class="needs-validation">
                                <div class="mb-3">
                                    <label for="rating" class="form-label">Rating</label>
                                    <fieldset class="starability-slot">
                                        <!-- Your star rating inputs -->
                                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]"
                                            value="1" checked aria-label="No rating." />
                                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                        <label for="first-rate1" title="Terrible">1 star</label>
                                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                        <label for="first-rate2" title="Not good">2 stars</label>
                                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                        <label for="first-rate3" title="Average">3 stars</label>
                                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                        <label for="first-rate4" title="Very good">4 stars</label>
                                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                        <label for="first-rate5" title="Amazing">5 stars</label>
                                    </fieldset>
                                </div>

                                <div class="mb-3">
                                    <label for="comment">Comments</label>
                                    <textarea required name="review[comment]" id="comment" cols="30" rows="5"
                                        class="form-control"></textarea>
                                    <div class="invalid-feedback">Please submit some comments for review</div>
                                </div>
                                <button class="btn btn-outline-dark">Submit</button>
                            </form>
                            <hr>
                            <% } %>
                                <p><b>All reviews</b></p>
                                <div class="row">
                                    <% for (let review of listing.reviews) { %>
                                        <div class="mb-3">
                                            <div class="card p-2">
                                                <h5 class="card-title">@<%= review.author.username %>
                                                </h5>
                                                <div class="starability-result" data-rating="<%= review.rating %>">
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        <%= review.comment %>
                                                    </p>
                                                    <% if (user && user._id.equals(review.author._id)) { %>
                                                        <form
                                                            action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
                                                            method="POST">
                                                            <button class="btn btn-sm btn-danger">Delete</button>
                                                        </form>
                                                        <% } %>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                </div>
                    </div>
                </div>
    </div>